.heading{
    position: absolute;
    font-size: 40px;
    font-family: serif;
    font-style: italic;
    font-weight: 600;
    top: 27%;
    left: 28%
}
.textbody{
     position: absolute;
    font-size: 20px;
    font-weight: 100;
    top: 43%;
    left: 29%;
    right: 10%;
}
.dtlbtn{
    position: absolute;
    padding-left: 27%; 
    padding-top: 36%;
}

.dtlbtn2{
    position: absolute;
    padding-left: 27%; 
    padding-top: 41%;
}
.stpic{
    width: 100%;
}
.ndpic{
    width: 104%;
}
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}    
.headingm{
    position: relative;
    color: black;
    font-size: 40px;
    font: serif;
    font-style: italic;
    font-weight: 600;
   
}
.textbodym{
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: 100;
   
}
.dtlbtnm{
    position: relative;
    
}