.pos1{
    position:relative;
    right:80px;
}
.pos3{
    position:relative;
    left:80px;
}
.fnt{
    font-family:"Montserrat",sans-serif;
    font-weight:400;
}
p{
  font-family: "Montserrat",sans-serif;
    font-weight:400;
}
.bg{
    background-color:#e0e2e2;
}
.sptxt{
    font-size: 70px;
    color:black ;
    font-family: "montserrat",sans-serif ;
    text-shadow: 3px 3px #838383;
}

.spnsrhd{
    font-size:80px;
    font-family:al;
    padding-top:70px;
    
}
.btni{
   border-radius: 20px;
    display:block;
    height: 40px;
    text-align: center;
    width: 150px;
    padding:9px;
    color: #fff;
    margin-bottom:35px;
    position:relative;
    left:689px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0 ,0 , 0, 0.1 );
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    
}
.btn-p
{
    background-color: #3f4ebc;
}
.btn-p:hover
{
    background-color: #5262d8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}

.btns
{
    background-color: black;
}
.btns:hover
{
    transition-timing-function:linear;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn{
    border-radius:20px;
    color:#fff;
}


@media only screen and (min-width:320px){
    .sptxt{
        font-size:50px;
    }
    .card{
        height:700px;
        width:320px;
    }
    .pos1{
        padding-left:32%;
    }
    .pos2{
        padding-top:40px;
        padding-left:14%
    }
    .pos4{
        padding-top:40px;
        left:-7%;
    }
    .btni{
        position:relative;
        left:31%
    }
    .spnsrhd{
        font-size:50px;
    }
    .carousel-caption{
        bottom:90px;
    }
    
}
@media only screen and (min-width:480px){
     .sptxt{
        font-size:60px;
    }
    .card{
        height:700px;
        width:380px;
    }
    .pos1{
        padding-left:28%;
    }
    .pos2{
        padding-top:40px;
        padding-left:14%;
    }
    .pos4{
        padding-top:40px;
        left:-4%;
    }
    .btni{
        position:relative;
        left:40%
    }
    .spnsrhd{
        font-size:50px;
    }
    .carousel-caption{
        bottom:40px;
    }
}
@media only screen and (min-width:767px){
     .sptxt{
        font-size:60px;
    }
    .card{
        height:700px;
        width:380px;
    }
    .pos1{
        padding-left:3%;
        padding-top:40px;
    }
    .pos2{
        padding-left:1%;
    }
    .pos4{
        padding-top:40px;
        left:10%;
    }
    .btni{
        position:relative;
        left:42%
    }
    .spnsrhd{
        font-size:60px;
    }
    .carousel-caption{
        bottom:290px;
    }
}
@media only screen and (min-width:991px){
    .sptxt{
        font-size:80px;
    }
    .card{
        height:700px;
        width:360px;
    }
    .pos1{
        padding-left:0%;
        padding-top:40px;
    }
    .pos2{
        padding-left:0%;
    }
    .pos4{
        padding-top:40px;
        left:-2%;
    }
    .btni{
        position:relative;
        left:44%
    }
    .spnsrhd{
        font-size:70px;
    }
    .carousel-caption{
        bottom:440px;
    }
}
@media only screen and (min-width:1200px){
    .pos2{
        padding-left:10px;
    }
    .pos4{
        padding-left:20px;
    }
    .btni{
        position:relative;
        left:45%;
    }
    .carousel-caption{
        bottom:220px;
    }
    
}







