#teamhp-desktop {display: block;}
#teamhp-mobile {display: none;}

@media screen and (max-width: 1024px) {

#teamhp-desktop {display: none;}
#teamhp-mobile {display: block;}

}  


.containertm {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.imagetm {
  background-color: ;
  opacity: .8;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middletm {
  transition: .5s ease;
  opacity: .8;

}

.containertm:hover .imagetm {
  opacity: 1;
}

.containertm:hover .middletm {
  opacity: 1;
}

.texttm {
  color: white;
  font-weight: ;
  font-size: 13px;
}
.containertm:hover .texttm {
  opacity: 1;
}